<template>
    <div class="container-fluid h-100">

      <div class="d-flex justify-content-center align-items-center">
        <div class="col-md-40 rounded px-5 py-4 shadow bg-gray text-left">
          <form @submit.prevent="create" method="post" id="signup-form">
            <div class="row">
              <div class="col-12 form-group">
            <h2>Información personal</h2>
            <!-- <span class="text-danger">*</span> -->
            <label class="col-form-label">Nombre</label>
            <div class="input-group mb-3">
              <input type="text" v-model="user.f_name" class="form-control" placeholder="Primero">
              <input type="text" v-model="user.s_name" class="form-control" placeholder="Segundo">
            </div>
            <label class="col-form-label">Apellidos</label>
            <div class="input-group mb-3">
              <input type="text" v-model="user.f_lastname" class="form-control" placeholder="Primero">
              <input type="text" v-model="user.s_lastname" class="form-control" placeholder="Segundo">
            </div>
            <div class="form-group">
              <label class="col-form-label">Número de identificación</label>
              <input type="text" v-model="user.government_id" class="form-control">
            </div>
            <div class="form-group">
              <label class="col-form-label">Carné estudiantil</label>
              <input type="text" v-model="user.student_id" class="form-control">
            </div>
            <div class="form-group">
              <label class="col-form-label">Fecha de nacimiento</label>
              <input type="date" v-model="user.birthday" class="form-control">
            </div>
            <h2>Ubicación</h2>
            <div class="form-group">
              <label class="col-form-label">Provincia</label>
              <input type="text" v-model="user.province" class="form-control">
            </div>
            <div class="form-group">
              <label class="col-form-label">Canton</label>
              <input type="text" v-model="user.canton" class="form-control">
            </div>
            <div class="form-group">
              <label class="col-form-label">Distrito</label>
              <input type="text" v-model="user.district" class="form-control">
            </div>
            <h2>Contacto</h2>
            <label class="col-form-label">Email</label>
            <div id="email-inst">
              <div class="input-group mb-3">
                <input type="email" v-model="user.email" class="form-control" placeholder="Correo institucional">
                <div class="input-group-prepend">
                  <button type="button" class="btn btn-danger btn-sm">+</button>
                </div>
              </div>
            </div>
            <label class="col-form-label">Teléfono</label>
            <div id="phone-list">
              <div class="input-group mt-3 mb-3">
                <input type="text" v-model="user.phone" class="form-control">
                <div class="input-group-prepend">
                  <label class="col-form-label"></label>
                  <select class="form-control" v-model="user.phone_type" id="sel1">
                    <option>Celular</option>
                    <option>Casa</option>
                    <option>Trabajo</option>
                    <option>Otro</option>
                  </select>
                </div>
                <div class="input-group-prepend">
                  <button type="button" class="btn btn-danger btn-sm">+</button>
                </div>
              </div>
            </div>
            <h2>Información Académica</h2>
            <div  id="academic">
              <div class="form-group">
                <input type="text" v-model="user.degree" class="form-control" placeholder="Grado académico">
              </div>
              <div class="form-group">
                <input type="text" v-model="user.study_area" class="form-control" placeholder="Área de estudio">
              </div>
              <div class="form-group">
                <input type="text" v-model="user.university" class="form-control" placeholder="Universidad">
              </div>

              <div class="form-group">
                <div class="input-group mb-3">
                  <select class="form-control" v-model="user.status" id="sel1">
                    <option>En proceso</option>
                    <option>Concluido</option>
                  </select>
                  <div class="input-group-prepend">
                    <button type="button" class="btn btn-danger btn-sm">+</button>
                  </div>
                </div>
              </div>
              <div class="text-center">
                <button type="button" class="btn btn-danger btn-primary">Enviar</button>
              </div>
            </div>
          </div>
        </div>
      </form>
      </div>
      </div>
    </div>
</template>

<script>

import axios from 'axios';

export default {
  name: 'SignupForm',
  data(){
    return{
      user: {
        'f_name': '',
        's_name': '',
        'f_firstname': '',
        's_firstname': '',
        'government_id': '',
        'student_id': '',
        'birthday': '',
        'province': '',
        'canton': '',
        'district': '',
        'email': [],
        'phone': [],
        'phone_type': [],
        'degree': [],
        'study_area': [],
        'university': [],
        'status': [],
      },
      submitted: false
    }
  },
  methods: {
        create: function () {
            this.$validator.validate().then(result => {
                this.submitted = true;
                if (!result) {
                    return;
                }
                console.log(this.f_name)
                axios
                    .post('http://127.0.0.1:8000/api/users/',
                        this.subscription
                    )
                    .then(response => {
                        this.$router.push('/');
                        return response
                    })
            });
        }
    },
}
</script>
