<template>
  <div id="demo" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img style="width: 100%;" class="centerIm" src="https://pris.eie.ucr.ac.cr/wp-content/uploads/2016/03/PRISLab-Firma-01.png" alt="PRIS1">
      </div>
      <div class="carousel-item">
        <img style="width: 100%;" class="centerIm" src="https://pris.eie.ucr.ac.cr/wp-content/uploads/2016/05/Website-Cover-02-1.jpg" alt="PRIS2">
      </div>
      <div class="carousel-item">
        <img style="width: 100%;" class="centerIm" src="https://pris.eie.ucr.ac.cr/wp-content/uploads/2016/05/Website-Cover-01-1.jpg" alt="PRIS3">
      </div>
    </div>
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
</template>

<script>
export default {
  name: 'Header'
}
</script>
