<template>
<div id="demo" class="carousel slide" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img style="width: 100%;" class="centerIm" src="https://pris.eie.ucr.ac.cr/wp-content/uploads/2016/03/PRISLab-Firma-01.png" alt="PRIS1">
    </div>
    <div class="carousel-item">
      <img style="width: 100%;" class="centerIm" src="https://pris.eie.ucr.ac.cr/wp-content/uploads/2016/05/Website-Cover-02-1.jpg" alt="PRIS2">
    </div>
    <div class="carousel-item">
      <img style="width: 100%;" class="centerIm" src="https://pris.eie.ucr.ac.cr/wp-content/uploads/2016/05/Website-Cover-01-1.jpg" alt="PRIS3">
    </div>
  </div>
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
<div class="container" style="margin-top:30px">
  <div class="row">
    <div class="col-sm-4">
      <h2>Acerca de nosotros</h2>
      <p class="text-center">_______</p>
      <div class="text-center">
        <h5>Fundador:</h5>
        <img style="width: 50%;" src="https://eie.ucr.ac.cr/media/funcionarios/francisco.siles/b_MG_3289.resized.jpg" alt="Siles">
        <p>Dr. rer. nat. Francisco Siles Canales</p>
      </div>
      <p>El Laboratorio de Reconocimiento de Patrones y Sistemas Inteligentes es un laboratorio transdiciplinar que forma parte de la Escuela de Ingeniería Eléctrica de la Universidad de Costa Rica. Fue fundado en 2012 como un núcleo de formación entre distintas disciplinas</p>
      <h3>Links de interés</h3>
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="https://pris.eie.ucr.ac.cr/">PRIS-Lab</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://eie.ucr.ac.cr/">Escuela de Ingeniería Eléctrica</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.ucr.ac.cr/">Universidad de Costa Rica</a>
        </li>

      </ul>
      <hr class="d-sm-none">
    </div>
    <div class="col-sm-8">
      <h2>Áreas de investigación</h2>
      <p class="text-center">_______</p>
      <img style="width: 70%;" src="https://pris.eie.ucr.ac.cr/wp-content/uploads/2016/03/nao-ball.png">
      <p>Los intereses específicos del PRIS-Lab son principalmente reconocimiento de patrones, sistemas inteligentes, aprendizaje automático, minería de datos, procesamiento digital de señales, procesamiento digital de imágenes, captura de movimiento, biocomputación, estructuras de datos abstractos, algoritmos y programación.</p>
      <br>
      <h2>Nuestros equipos</h2>
      <p class="text-center">_______</p>
      <img style="width: 30%;" src="https://pris.eie.ucr.ac.cr/wp-content/uploads/2016/03/Logos-Equipos-02-2.png">
      <img style="width: 30%;" src="https://pris.eie.ucr.ac.cr/wp-content/uploads/2016/03/Logos-Equipos-01-2.png">
      <img style="width: 30%;" src="https://pris.eie.ucr.ac.cr/wp-content/uploads/2016/03/Logos-Equipos-03-2.png">
      <img style="width: 30%;" src="https://pris.eie.ucr.ac.cr/wp-content/uploads/2016/03/Logos-Equipos-04-3.png">
      <img style="width: 30%;" src="https://pris.eie.ucr.ac.cr/wp-content/uploads/2016/03/Logos-Equipos-05-2.png">
      <img style="width: 30%;" src="https://pris.eie.ucr.ac.cr/wp-content/uploads/2016/03/Logos-Equipos-07-3.png">
      <img style="width: 30%;" src="https://pris.eie.ucr.ac.cr/wp-content/uploads/2016/03/Logos-Equipos-08-2-300x236.png">
      <img style="width: 30%;" src="https://pris.eie.ucr.ac.cr/wp-content/uploads/2016/03/Logos-Equipos-06-3.png">

    </div>
  </div>
</div>

<div class="jumbotron text-center" style="margin-bottom:0">
  <h6>VISÍTENOS</h6>

      <p>_______</p>

<p><font size=1>Tercer piso de la Escuela de Ingeniería Eléctrica, </font>
<font size=1>Ciudad de la Investigación, Universidad de Costa Rica,</font>
<font size=1> San Pedro de Montes de Oca, San José, Costa Rica.</font></p>

<p><font size=1>Teléfonos: (+506)2511-2603 / (+506)2511-2642</font>

<font size=1> / E-mail: pris-lab@googlegroups.com</font></p>

</div>

</template>

<script>
export default {
  name: 'Home'
}
</script>
