<template>
<div class="container">
        <div class="row justify-content-center align-items-center" style="height:100vh">
            <div class="col-8">
                <div class="card">
                  <img style="width: 100%;" class="centerIm" src="https://pris.eie.ucr.ac.cr/wp-content/uploads/2016/03/PRISLab-Firma-01.png" alt="PRIS1">
                    <div class="card-body">
                        <form action="" autocomplete="off">
                          <label class="col-form-label">Usuario</label>
                            <div class="form-group">
                                <input type="text" class="form-control" name="username">
                            </div>
                            <label class="col-form-label">Contraseña</label>
                            <div class="form-group">
                                <input type="password" class="form-control" name="password">
                            </div>
                            <div class="text-center">
                              <button type="button" id="sendlogin" class="btn btn-danger btn-primary">Iniciar Sesión</button>
                            </div>
                            <div class="text-center">
                              <p style="font-size:11px; padding: 20px 0 0 0; text-decoration: none;">
                                <router-link to="/form" exact> Registrarse</router-link>
                              </p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  name: 'Login',
}
</script>
